
#    # Assignemnt 3 Hypothesis Testing Q4

In [1]:
import pandas as pd 
import numpy as np 
from scipy.stats import stats 
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
#Import data 
data=pd.read_csv('/Users/viswanathareddy/Assignments /Hypothesis Asg /Costomer+OrderForm.csv')

In [3]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [6]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
#Make contingency table 
data1=np.array([[271,267,29,33],
               [29,33,31,20]])

In [11]:
#Chi2 contigency table 
chi2_contingency(data1)
#out put is (Chi2 stats value,p_value ,df,expected observations)

(90.63914778482774,
 1.5968778077327273e-19,
 3,
 array([[252.45441795, 252.45441795,  50.49088359,  44.6002805 ],
        [ 47.54558205,  47.54558205,   9.50911641,   8.3997195 ]]))

In [12]:
# Compare p_value with α = 0.05